# Copy to .env and fill in values

TRINO_HOST=trino.data-infra
TRINO_PORT=8443
TRINO_HTTP_SCHEME=https
TRINO_VERIFY_SSL=false
TRINO_USER=publisher-pricing-api
TRINO_CATALOG=hafez
TRINO_SCHEMA=data_operation
TRINO_TABLE=nashereman

KEYCLOAK_BASE=https://heimdall.yektanet.tech
KEYCLOAK_REALM=Tech

# Set to false only during local dev with no Keycloak
VERIFY_TOKEN=true
